.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../../../public/images/useclogo2.png');
  background-position: center;
}

.paper-container {
  height: 130px;
  width: 400px;
  padding: 20px;
  text-align: center;
  background-color: black;
  margin-bottom: 350px;
  position: relative;
  opacity: 0.8;
}