.landing-page {
  position: relative;
  height: 100%; /* Set the height of the landing page container to 100% */
}

.background-image3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -50;
}

