.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('/Users/travismack/Desktop/Homework/Solo-Project/public/images/useclogo2.png');
  background-position: center;
}

.paper-container {
  height: 160px;
  width: 400px;
  padding: 20px;
  text-align: center;
  background-color: black;
  margin-bottom: 350px;
  position: relative;
  opacity: 0.9;
}

#login-btn {
  margin-right: 10px;
  width: 100px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  background-color: #0021f5;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;

  /* Hover effect */
  &:hover {
    background-color: #00ccf4;
  }
}

#register-btn {
  width: 100px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  background-color: #7700d8;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;

  /* Hover effect */
  &:hover {
    background-color: #bb76f4;
  }
}

#about-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}


#login-btn, #register-btn {
  margin-top: 15px;
}