html,
body,
.prapor-page {
  height: 100%;
  margin: 0;
}

.prapor-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background-prapor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Users/travismack/Desktop/Homework/Solo-Project/public/images/praportarkov.png');
  background-size: cover;
  background-position: center;
  
}