.register-page {
  position: relative;
  background: linear-gradient(
    to bottom,
    #2c3e50, /* Dark desaturated blue, reminiscent of a moonlit night */
    #4a4a4a, /* Mid-tone grey */
    #2c3e50, /* Repeat the dark desaturated blue for consistency */
    #1b1b1b /* Almost black, for depth */
  );
  
  
}


/* .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 425px;
}

.register-form .MuiTextField-root {
  border-radius: 20px;
}

#register-btn {
  width: 95%;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  align-content: center;
  background-color: #0021f5;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;


 */

