.register-page {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Users/travismack/Desktop/Homework/Solo-Project/public/images/labslogotarkov.png');
    background-size: cover;
    background-position: center;
    z-index: -50;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }